body {
    padding: 0px;
    margin: 0px;
}

#content {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

#sidebar {
    background-color: black;
    -webkit-app-region: drag;
    min-width: 200px;
    width: 30%;
    float: right;
    height: 100%;
    /*position:relative;*/
    color: white;
}

input, select, button {
    -webkit-app-region: no-drag;
    border: 1;
    background: none;
    box-shadow: none;
    border-radius: 5px;
    border-color: #6500A0;
    color: white;
}


#content-bar {
    background-color: #6500A0;
    height: 100%;
    width: auto;
    overflow-y: auto;
}

.sec {
    margin: 10px;
}

.sec * {
    width: 100%;
}
