body, html {
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
}

#content {
  position: fixed;
  top: 1px;
  bottom: 1px;
  right: 1px;
  left: 1px;
}

#sidebar {
  background-color: black;
  -webkit-app-region: drag;
  min-width: 200px;
  width: 30%;
  float: right;
  height: 100%;
  /*position:relative;*/
  color: white;
}


#contentbar {
  background-color: #6500A0;
  height: 100%;
  width: auto;
  overflow: hidden;
  padding: 3px;
}

.sec {
  margin: 2px;
  padding: 2px;
}


.sec * {
  width: 100%;
  padding: 2px;
  font-size: 16px;
  margin: 2px;
  box-sizing : border-box;
  -webkit-app-region: no-drag;
  border-width: 2px;
  background: none;
  box-shadow: none;
  outline: none;
  border-radius: 2px;
  border-color: #6500A0;
  color: white;
}

a.abutton {
  -webkit-app-region: no-drag;
  display: inline-block;
  color: #6500A0;
  font-size: 20px;
  border:2px solid #6500A0;
  background: none;
  height:25px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

a.abutton:hover {
  color: black;
  background: #6500A0;
}

/*
RESPONSIVE LAYOUTS

*/

.hflex {
  display: flex;
  flex-wrap: wrap;
  padding: .1em;
}

.lay-1 {
  display: inline-block;
  width: 100%;
}

.lay-2 {
  display: inline-block;
  width: calc(50% - 1em);
}

@media only screen and (min-width: 1000px) {
  .lay-big-2 {
    display: inline-block;
    width: calc(50% - 1em);
  }
  .lay-big-3 {
    display: inline-block;
    width: calc(33% - 1em);
  }
}
