#content {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
#info-bar {
    background-color: black;
    -webkit-app-region: drag;
    min-width: 200px;
    width: 30%;
    float: right;
    height: 100%;
    position:relative;
    color: white;
}
#title-bar {
    height: 40px;
    text-align: left;
    line-height: 40px;
    background-color: red;
    padding: none;
    margin: 0px;
}

#ctrl-btns {
    background: green;
    text-align: right;
}

#ctrl-btns button {
    -webkit-app-region: no-drag;
}

#content-bar {
    background-color: #6500A0;
    height: 100%;
    width: auto;
}
