body {
    -webkit-app-region: drag;
    padding: 0px;
    margin: 0px;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea {
    -webkit-app-region: no-drag;
}
