<div class="ctab">
    <h1>{title}</h1>
    <table dir="rtl">
        <tr>
            <th></th>
            <th colspan="2">{active}</th>
            <th colspan="2">{passive}</th>
        </tr>
        <tr>
            <th></th>
            <th>{affirmative}</th>
            <th>{negative}</th>
        </tr>
        
    </table>
</div>
