#titlebar {
  text-align: left;
  margin: 2px;
  font-size: 20px;
  font-weight: bold;
}

#titlebar::after {
  content: "";
  display:block;
  height: 50px;
}

#ctrl-btns {
  text-align: right;
  padding: 5px;
}

#ctrl-btns a {
  width:25px;
}

#ctrl-btns a:hover {
  color: black;
  background: #6500A0;
}

#icon img {
  width: 30px;
  height: 30px;
}
