#toolbar {
    text-align: left;
    margin: 2px;
}

#tool-btns {
    padding: 2px;
}

#tool-btns a {
    -webkit-app-region: no-drag;
    display: inline-block;
    color: #6500A0;
    font-size: 20px;
    border:2px solid #6500A0;
    background: none;
    width:25px;
    height:25px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

#tool-btns a:hover {
    color: black;
    background: #6500A0;
}
